mixin project(link, img, title, text)
  div.project
    a.project__link(href=link target='_blank')
      div.project__img
        img(src=img, alt="")
      div.project__text
        h3=title
        p=text
    
mixin services-card(icon, h4, text)
  a(href="#" class="services-card")
    .services-card__icon-wrapp
      +icon(icon, 'services-card__icon')
    h4.services-card__title=h4
    p.services-card__text=text

//-BEGIN svg sprite
mixin icon(iconName, className, modific)
  if(className && !modific)
    svg(class="svg-icon " + className)
      use(xlink:href="img/svg/symbol/sprite.svg#" + iconName)
  else if(modific)
    svg(class="svg-icon " + className + ' ' + modific)
      use(xlink:href="img/svg/symbol/sprite.svg#" + iconName)
  else
    svg(class="svg-icon")
      use(xlink:href="img/svg/symbol/sprite.svg#" + iconName)

//- использование
//- +icon('facebook', 'header_icon', '__red')
	
//- .header_icon {
//- 	width: 140px;
//- 	display: block;
//- 	fill: red;
//- }
//- .header_icon:hover {
//- 	fill:green;
//- }

//-END svg sprite
