//-BEGIN svg sprite
mixin icon(iconName, className, modific)
  if(className && !modific)
    svg(class="svg-icon " + className)
      use(xlink:href="img/svg/symbol/sprite.svg#" + iconName)
  else if(modific)
    svg(class="svg-icon " + className + ' ' + modific)
      use(xlink:href="img/svg/symbol/sprite.svg#" + iconName)
  else
    svg(class="svg-icon")
      use(xlink:href="img/svg/symbol/sprite.svg#" + iconName)

//- использование
//- +icon('facebook', 'header__icon', '__red')
	
//- .header_icon {
//- 	width: 140px;
//- 	display: block;
//- 	fill: red;
//- }
//- .header_icon:hover {
//- 	fill:green;
//- }

//-END svg sprite

//- Buttons
mixin btn(text)
  a.btn
    span
    p=text
    p 
      +icon('right-arrow', 'btn__icon')

//- Services-card
mixin services-card(icon, h4, text)
  a(href="#" class="services-card")
    .services-card__icon-wrapp
      +icon(icon, 'services-card__icon')
    h4.services-card__title=h4
    p.services-card__text=text

//- Choose-card
mixin choose-card(numb, title, text)
  .choose-card 
    .choose-card__number
      span=numb
    .choose-card__inner
      h4=title
      p=text

//- Projects-card
mixin projects-card(img, title, text)
  .projects-card
    .projects-card__front
      img(src=img, alt="project")
    .projects-card__back
      h5.projects-card__title=title
      p.projects-card__text=text
      .projects-card__icon-wrapp
        a(href="#" class="projects-card__link") 
          +icon('right-arrow', 'projects-card__icon')

//- Our-team-card
mixin our-team-card(img, name, position)
  .our-team-card
    .our-team-card__top
      img(src=img, alt="people")
    .our-team-card__bottom 
      h5=name
      p=position 
      ul.our-team-card__social-list
        li 
          a(href="#") 
            +icon('facebook-f', 'our-team-card__icon')
        li 
          a(href="#") 
            +icon('instagram', 'our-team-card__icon')
        li 
          a(href="#") 
            +icon('linkedin', 'our-team-card__icon')
        li 
          a(href="#") 
            +icon('twitter', 'our-team-card__icon')

